@mixin btnReset{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

@mixin fontStyle {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}